---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="This is a description of my career"
	pubDate={new Date('July 23 2024')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		Bachelor of Science, Renewable Energy Engineering. I made a career switch after covid. Started working as a web developer.
		Now Im currently working at Rackspace Technology. Also work on my own tools for the web.

	</p>


</Layout>
